*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "poppins", sans-serif;
    }
    
    body{
        background:  url(../imagens.img/diablo\ banner.webp) center center no-repeat fixed;
        background-size: cover;
    }
    
    .voltar2{
        position: fixed;
        margin: 50px;
        font-size: 20px;
        background: linear-gradient(90deg, #111111, #dd4c04);
        padding: 5px;
        color: #fff;
        text-decoration: none;
        border-radius: 8px;
    }
    
    .imginicio img{
        width: 1940px;
        height: 250px;
        margin:-20px;
    }
    
    .videodiablo{
        position: relative;
        width: 950px;
        height: 500px;
        margin-left: 500px;
        margin-top: 50px;
    }
    
    .logo{
        margin-left: 380px;
        width: 100%vw;
        margin-top: 40px;
    }
    
    img{
        margin-left: 400px;
        
    }
    h2 {
        color: #fff;
        margin-left: 500px;
    }
    p{
        color: #fff;
        margin-left: 400px;
        font-size: 25px;
        margin-right: 500px;
    }

    h1 {
        color: #fff;
        margin-left: 400px;
        margin-right: 350px;
    }

    p {
        margin-left:500px ;
    }
    h2{
        font-size: 40px;
        color: rgb(80, 35, 243);
    }
    @media(max-width:750px){
        .imginicio img{
            width: 440px;
            height: 100px; 
         }
        .videodiablo{
            width: 350px;
            height: 250px;
            margin-left: 30px;
         }
        .logo{
            margin-left: 15px;
            width: 380px;

         }
        .historia img{
            width: 370px;
            height: 200px;
            margin-left: 30px;
         }
        h2 {
            margin-left: 30px;
            font-size: 15px;
            
        }
        h1 {
            margin-left: 30px;
            font-size: 20px;
            width: 370px;
        }
        p {
            margin-left: 30px;
            font-size: 12px;
            width: 350px;
        }
        .voltar2{
            font-size: 10px;
            margin-left: 10px;
            margin-top: 80px;
        }

    }
    