
  @import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@300,400,500,600&display=swap');

 .segunda-parte{
    background: rgba(192, 182, 38, 0.181);
    display: flex;
    /* justify-content:left; */
    align-items:normal;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    height: 800px;
    border-radius: 30px;
  }

.parte3 p{
    color: #fff;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif
}
.parte3 {
     position:absolute;
     height: 400px;
     background: #9cd7a929;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 15px;
     border-radius: 0px 10px 10px 10px;
     padding: 10px 10px 10px 10px;
     margin-top: 230px;
     left: 100px;
   }
 
   .swiper {
     width: 737px;
     height: 350px;
   
   }
 
   .swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
 
   .autoplay-progress {
     position: absolute;
     right: 6px;
     bottom: 6px;
     z-index: 10;
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: bold;
     color: var(--swiper-theme-color);
   }
 
   .autoplay-progress svg {
     --progress: 0;
     position: absolute;
     left: 0;
     top: 0px;
     z-index: 10;
     width: 100%;
     height: 100%;
     stroke-width: 3px;
     stroke: var(--swiper-theme-color);
     fill: none;
     stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
     stroke-dasharray: 125.6;
     transform: rotate(-90deg);
   }

   @media(max-width:750px){
    .parte3 {
        width: 350px;
        height: 250px;
        left: 30px;
        margin-top: 50px;
     }
     .swiper{
        width: 330px;
        height: 200px;
        
     }
     .segunda-parte{
        margin-left: 20px;
        margin-right: 20px;
     }
     .autoplay-progress{
        width: 35px;
        height: 35px;
     }
     /* .segunda-parte{
        display: block; */
     }
   
   